<div class="main-view">
  <div class="text-view">
    <div class="text-view__container">
      <h1 class="text__header">Hello there!</h1>
      <h2 class="text__subheader">My name is Bence Balla-Schottner</h2>
      <p class="text__paragraph">
        I'm a sitebuilder and
        <a class="text__link" href="https://angular.io/" target="_blank"
          >Angular</a
        >
        front-end developer.
      </p>
      <p class="text__paragraph">
        Check out my
        <a
          class="text__link"
          href="https://www.linkedin.com/in/bence-balla-schottner-80002266/"
          target="_blank"
          >LinkedIn</a
        >
        profile, if you want to know about my work.
      </p>
      <p class="text__paragraph">
        You can also check my
        <a
          class="text__link"
          href="https://www.github.com/ballaschottner"
          target="_blank"
          >Github</a
        >
        , where I upload my side projects.
      </p>
      <p class="text__paragraph">
        Outside the programing, I really enjoy travelling and
        <a
          class="text__link"
          href="https://www.linqs.to/ballaschottner"
          target="_blank"
          >photography</a
        >
      </p>
      <hr />
      <p class="text__paragraph">
        But, if you wish to stay on my webpage, feel free to get to know more
        about me
      </p>
      <ul class="footer-nav">
        <li class="footer-nav__item">
          <a class="text__link" href="">More about me</a>
        </li>
        <li class="footer-nav__item">
          <a class="text__link" href="">Some of my work</a>
        </li>
        <li class="footer-nav__item">
          <a class="text__link" href="">Get in touch</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="image-view"></div>
</div>
